.header-resep{
    background-color: #547794 ;
}
#brand{
    color: white;
    font-size: 41px;
}

#menu{
    color: white;
    font-size: 18px;
}

footer{
    color: white;
    background-color: #547794 ;
}
